{% load static %}

<!DOCTYPE html>
<html>

<head>
  <title>Shortest Distance Finder</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    
       <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css"/>

  
</head>

<body>
  <div class="container">
        <a href="{% url 'find_shortest_distance' %}"><button class="refresh-button"  >Refresh</button></a>
    <div class="header">Find Shortest Distance</div>
    <div class="form-wrapper">
      <form method="POST">
        {% csrf_token %}
        <div class="form-group">
          <label for="source-place">From:</label>
          {{ form.source_place }}
        </div>
        <div class="form-group">
          <label for="destination-place">To:</label>
          {{ form.destination_place }}
        </div>
        <div class="form-group">
          <button class="btn-submit btn-lg w-100" type="submit">
            Find Distance
          </button>
        </div>
      </form>
    </div>
    {% if form.errors %}
    <div class="alert alert-danger">
      <strong>Error(s):</strong>
      <ul>
        {% for field_errors in form.errors.values %}
        {% for error in field_errors %}
        <li>{{ error }}</li>
        {% endfor %}
        {% endfor %}
      </ul>
    </div>
    {% endif %}

    {% if shortest_distance is not None %}
    <div class="result-container">
      <div class="shortest-distance">Shortest Distance: {{ shortest_distance }} km</div>
      <div class="shortest-path">The Shortest path is: {{ shortest_path }}</div>
    </div>
    {% endif %}
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
</body>

{% include 'search/footer.html' %}

</html>
